{% macro rendervenues(venues) %}
      {% for r in venues %}
      <div>
              {% if r.picture %}
              <div class="    " style="background: url('{{r.picture }}') center / cover;">
              {% else %}
               <div class="    " style="background: url('{{ url_for('static', filename = 'img/fede.jpg') }}') center / cover;">
               {%endif%}

                  <h2 class="  ">{{ r.name }}</h2>
              </div>
              <div class="">
                  <h6>{{r.location}}</h6>
                  <hr>
                  {% if r.menu_url %}
                    <a href="{{r.menu_url}}" class="">
                    View Menu
                    </a>
                  {% endif %}
              </div>
              {% if r.menu_url %}
              <div class="">
                <a href="{{r.url}}" class="">
                  Visit web
                </a>
              </div>
               {% endif %}

              <div class="">
                <button class="">
                  <i class="material-icons">share</i>
                </button>
              </div>
            </div>
    {% endfor %}
{% endmacro %}
