<!doctype html>
<html>
<head>
    <title>Meet N' Eat</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    {% assets "js_angular" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "css_bootstrap" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}
    {% assets "js_bootstrap" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>
<body ng-app="flask_app">
    <h1>Meet n' Eat</h1>
    {% if user_authenticated %}
        <h1>{{login_session.username}}</h1>
        <a href="{{ url_for('users.logout') }}" class="mdl-chip__action"><i class="material-icons">cancel</i></a>
    {% endif %}
    <form id="form_search_venues"  method="POST"  action="{{ url_for('users.search')}}">
        <div class="">
            <label class="" for="">
                <i class="material-icons">search things in a city</i>
            </label>
            <div class="">
                {{ searchform.search(class="mdl-textfield__input", type="search", id="site-search") }}
                <label class="" for="">Search</label>
            </div>
        </div>
    </form>


    {% for message in get_flashed_messages(with_categories=false) %}
      <div>
        <strong>{{ message }}!</strong>
      </div>
    {% endfor %}


    {% block content %}

    {% endblock %}
  <a href="http://flask.pocoo.org/" ><img
   src="http://flask.pocoo.org/static/badges/i-wish.png"
   border="0"
   alt="I wish this site were Flask powered"
   title="I wish this site were Flask powered">
  </a>
</body>
</html>
