{% block request %}
<div class="mdl-color-text--teal-A700 mdl-cell mdl-cell--4-col" 
 id='requestdiv' style="display:none;">
 <span style="border: 2px solid black;">X</span> 
    <h4>Create Request!</h4><hr>
    <form method="POST" action="{{ url_for('create_request') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{request.meal_type(class_ ='mdl-textfield__input', value='Coffee')}}
            <label class="mdl-textfield__label">{{request.meal_type.label}}</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{request.location_string(class_ ='mdl-textfield__input', value='Venezuela, Caracas')}}
            <label class="mdl-textfield__label">{{request.location_string.label}}</label>
        </div>
        <div class=" mdl-textfield--floating-label">
            {{request.meal_time}}
            {{request.year}}
            {{request.month}}
            {{request.day}}
        </div>
        <br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{request.submit(class_ ='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect')}}
        </div>
    </form>
</div>
{% endblock %}