{% extends 'base.html' %}

{% block content %}
<style>
.indexbg{
    background-image: url(../static/img/indexban.jpg);
    background-position: center;
    -webkit-background-size: container;
    background-size: container
}
</style>
<div ng-controller="requestview" class="indexbg" style="height:500px;">
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">
    <!-- Colored raised button -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
         ng-click="action()">
         {a action_string a}
        </button>
    </div>
    {% include  'createrequest.html' %}
    {% block request %}
    {% endblock%}
</div>
</div>  
{% endblock %}