{% extends 'base.html' %}
{% block content %}

<div class="mdl-grid">
  <div class="mdl-layout-spacer">
  </div>
    <div class="mdl-cell mdl-cell--4-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            <a data-device="desktop" data-name="google" data-redirect="{{ url_for('index') }}" id='js-google-oauth-login' href="{{ url_for('oauth_authorize', provider='google') }}">Login with Google</a>
        </button>
    </div>
  <div class="mdl-cell mdl-cell--4-col">
      <h1>Login with your account!</h1>
      <form method="POST" action="{{url_for('login')}}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      {{formlogin.username}}
      {{formlogin.password}}
      {{formlogin.submit}}
      </form>
  </div>
</div>
<button class="mdl-button mdl-button--raised" id="registeractive">Register in here!</button>

    {% include  'register.html' %}
    {% block register %}
    {% endblock%}

<script>
    var register = document.getElementById('registeractive');
    register.onclick = function() {
    document.getElementById('registerdiv').style.display = "block";
    }
</script>
{% endblock %}
