{% extends 'base.html' %}
{% from "_macrovenues.html" import rendervenues with context %}

{% block content %}
<div class="inputbg" ng-controller="loginview" style="">
<div class="">
    <div class="">
            <a  class="" data-device="desktop" data-name="google" data-redirect="{{ url_for('users.index') }}" id='js-google-oauth-login' href="{{ url_for('users.oauth_authorize', provider='google') }}">Login with Google</a>
        <button class="" ng-click="action()">{a action_string a}</button>
    </div>
    {% include  'register.html' %}
    {% block register %}
    {% endblock%}
  <div class="" ng-show="login">
      <h1>Login with your account!</h1>
      <form method="POST" action="{{url_for('users.login')}}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <!-- Textfield with Floating Label -->

        <div class="">
            {{formlogin.username(class_ ='mdl-textfield__input')}}
            <label class="">Username...</label>
        </div>
        <div class="">
            {{formlogin.password(class_ ='mdl-textfield__input')}}
            <label class="">Password...</label>
        </div>
        <div class="">
            {{formlogin.submit(class_ ='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect')}}
        </div>
      </form>
  </div>
</div>
</div>
{% endblock %}
