{% block register %}
  <div class="mdl-cell mdl-cell--4-col" id='registerdiv' style="display:none;">
      <h1>Register now!</h1>
      <form method="POST" enctype=multipart/form-data action="{{url_for('register')}}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           {{formregister.username(class_ ='mdl-textfield__input', value='carlosjazz')}}
           <label class="mdl-textfield__label" for="sample3">{{formregister.username.label}}</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           {{formregister.password(class_ ='mdl-textfield__input')}}
           <label class="mdl-textfield__label" for="sample3">{{formregister.password.label}}</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           {{formregister.confirm_password(class_ ='mdl-textfield__input')}}
           <label class="mdl-textfield__label" for="sample3">{{formregister.confirm_password.label}}</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           {{formregister.email(class_ ='mdl-textfield__input', value='carlosjazzc1@gmail.com')}}
           <label class="mdl-textfield__label" for="sample3">{{formregister.email.label}}</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           {{formregister.confirm_email(class_ ='mdl-textfield__input',  value='carlosjazzc1@gmail.com')}}
           <label class="mdl-textfield__label" for="sample3">{{formregister.confirm_email.label}}</label>
        </div>
           {{formregister.profile_photo}}
           <hr>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <button type="submit" name='submit' class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          Submit
        </button>
      </div>
      </form>
  </div>
{% endblock %}